{{define "email"}}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title> template email </title>
        </head>
        <body>
            <h1>{{.Title}}</h1>
            <h3>{{.Subject}}</h3>
            <h3>{{.To}}</h3>
            <p>{{.Message}}</p>
            <p>{{.Greeting}}</p>

        </body>
    </html>


{{end}}

